<div class="container d-flex h-100">
    
  <div class="maindiv align-self-center">
      <h3>Set New Login Password</h3>
      <br>
      <span class="text-danger" *ngIf="error">{{errormessage}}</span>
      <form [formGroup]="newPasswordForm" (ngSubmit)="setLoginPassword()">
          <div class="inputHolder">
              <input type="text" placeholder="Enter New Password" name="login_password" [formControl]="passwordControl"/><br>
              <span *ngIf="!passwordControl.valid && passwordControl.dirty" class="text-danger">Password required!!</span>
          </div>

          <div class="inputHolder">
              <input type="password" placeholder="Confirm Password" name="confirmpassword" [formControl]="confirmPasswordControl"/><br>
              <span *ngIf="confirmPasswordControl.hasError('required') && confirmPasswordControl.dirty" class="text-danger">Confirm Password required!!</span>
              <span *ngIf="confirmPasswordControl.hasError('minLength') && confirmPasswordControl.dirty" class="text-danger">Password should be of minimum 4 characters</span>
              <span *ngIf="confirmPasswordControl.hasError('maxLength') && confirmPasswordControl.dirty" class="text-danger">Password should be of maximum 40 characters</span>
          </div>

          <div class="inputHolder">
              <input class="btn btn-success" type="submit" value="Submit"/>
          </div>
      </form>
  </div>
</div>