<div *ngIf="dataFetched">
    <div class="header">
        <h3>Account Details</h3>
    </div>
    <br>
    <table class="first">
        <tr>
            <td>Full Name :</td>
            <td>{{fullName}}</td>
        </tr>
        <tr>
            <td>Father's Name :</td>
            <td>{{accountDetails.user.fatherName}}</td>
        </tr>
        <tr>
            <td>Date of Birth :</td>
            <td>{{dob}}</td>
        </tr>
        <tr>
            <td>Contact Number :</td>
            <td>{{accountDetails.user.mobileNo}}</td>
        </tr>
        <tr>
            <td>Email Id :</td>
            <td>{{accountDetails.user.email}}</td>
        </tr>
        <tr>
            <td>Aadhaar Card Number :</td>
            <td>{{accountDetails.user.aadhar}}</td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Residential Address :</td>
            <td>{{accountDetails.residentialAddress.line1}}<br>
                {{accountDetails.residentialAddress.line2}}<br>
                {{accountDetails.residentialAddress.city.cityName}} - {{accountDetails.residentialAddress.pincode}} <br>
                {{accountDetails.residentialAddress.state.stateName}} <br>
                {{accountDetails.residentialAddress.state.country.countryName}}</td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Permanent Address :</td>
            <td>{{accountDetails.permanentAddress.line1}}<br>
                {{accountDetails.permanentAddress.line2}}<br>
                {{accountDetails.permanentAddress.city.cityName}} - {{accountDetails.permanentAddress.pincode}} <br>
                {{accountDetails.permanentAddress.state.stateName}} <br>
                {{accountDetails.permanentAddress.state.country.countryName}}</td>
        </tr>
        <tr>
            <td>Occupation Type :</td>
            <td>{{accountDetails.occupation.occupationType}}</td>
        </tr>
        <tr>
            <td>Source of Income :</td>
            <td>{{accountDetails.occupation.sourceOfIncome}}</td>
        </tr>
    </table>
</div>