<div>
    <br>
    <h3 style="text-align: center;">Account Details</h3>
    <br>
    <table>
        <tr>
            <td>Full Name :</td>
            <td>Mahima Parmar</td>
        </tr>
        <br>
        <tr>
            <td>Father's Name :</td>
            <td>Bharat Parmar</td>
        </tr>
        <br>
        <tr>
            <td>Date of Birth :</td>
            <td>2000/12/02</td>
        </tr>
        <br>
        <tr>
            <td>Contact Number :</td>
            <td>+91 3583225742</td>
        </tr>
        <br>
        <tr>
            <td>Full Name :</td>
            <td>Mahima Parmar</td>
        </tr>
        <br>
        <tr>
            <td>Email Id :</td>
            <td>mahima@gmail.com</td>
        </tr>
        <br>
        <tr>
            <td>Aadhaar Card Number :</td>
            <td>3465 3467 3456 7564</td>
        </tr>
        <br>
        <tr>
            <td style="vertical-align: top;">Residential Address :</td>
            <td>101, Society Name, Landmark,<br>
                Street Name, Area,<br>
                City - 400 067, <br>
                State, <br>
                Country.</td>
        </tr>
        <br>
        <tr>
            <td style="vertical-align: top;">Permanent Address :</td>
            <td>101, Society Name, Landmark,<br>
                Street Name, Area,<br>
                City - 400 067, <br>
                State, <br>
                Country.</td>
        </tr>
        <br>
        <tr>
            <td>Occupation Type :</td>
            <td>Employment</td>
        </tr>
        <br>
        <tr>
            <td>Source of Income :</td>
            <td>Something</td>
        </tr>
    </table>
</div>