.enterheader{
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 30px;
}

.maindiv{  
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 50%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input{
    width: 50%;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    padding: 10px;
}

.inputHolder{
    margin-bottom: 15px;
}

.container{
    padding-left: 0;
    padding-right: 0;
    min-width: 100%;
    background-image: url('src/assets/images/login.jpg');
    margin: 0;
    background-size: auto;
    
}

input[type="submit"]{
    border: none;
}

*{
    font-weight: 700;
}