<div *ngIf="dataFetched" style="min-height: 100%;">
    <div class="header">
        <h3 style="font-weight: 700;">Account Statement</h3>
    </div>
    <br>
    <div class="first" style="min-height: 100%;">
        <table class="table table-striped">
            <thead class="thead"> 
                <tr>
                    <th>Account Number</th>
                    <th>Name</th>
                    <th>Account Type</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let account of accounts"> -->
                <tr>
                    <td>{{statement.account.accountNo}}</td>
                    <td>{{statement.firstName}} {{statement.lastName}}</td>
                    <td>{{statement.account.accountType}}</td>
                    <td>&#x20B9; {{statement.account.balance}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <form  class="first" #frm="ngForm" (ngSubmit)="getStatementWithDates(frm.value)">
        <div>
            Statement from  <input type="date" name="stmtStartDate" max="{{todayDate}}" ngModel>  To  <input type="date" max="{{todayDate}}" name="stmtEndDate" ngModel>
        </div>
        <br/>
        <input class="btn btn-success" type="submit" value="Submit">
    </form>
    <br/>
    <span class="text-danger" name="error" *ngIf="noStartDate">Enter Start Date</span>
    <span class="text-danger" name="error" *ngIf="noEndDate">Enter End Date</span>
    <span class="text-danger" name="error" *ngIf="timelineError">End date cannot be before start date</span>
    <span class="text-danger" name="error" *ngIf="firstDateError">Start date cannot be a future date</span>
    <span class="text-danger" name="error" *ngIf="lastDateError">End date cannot be a future date. All transactions from start date to current date are shown.</span>
    <br>
    <div *ngIf="!timelineError && !firstDateError && !noStartDate && !noEndDate" class="first">
        <table class="table">
            <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Reason</th>
                    <th>Transaction Id</th>
                    <th>Transaction Type</th>
                    <th>Amount</th>
                    <th>To Account</th>
                    <th>Credit/Debit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of statement.transactions">
                    <td>{{transaction.startDate}}</td>
                    <td>{{transaction.endDate}}</td>
                    <td>{{transaction.reason}}</td>
                    <td>{{transaction.transactionId}}</td>
                    <td>{{transaction.type}}</td>
                    <td>&#x20B9; {{transaction.amount}}</td>
                    <td> {{transaction.toAccount}}</td>
                    <td>{{transaction.flow}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>