.navbar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #6A1B9A;
}

input{
    width: 70%;
    border: none;
    background: transparent;
}

.mainButtom{
    background-color: #6A1B9A;
    font-weight: 700;
    color: #fff;
}

label{
    font-weight: 700;
}