<div class="container">
    <div class="row">
        <div class="col-xs">
            <ul class="nav flex-column">
                <br>
                <li class="nav-item">
                    <a class="nav-link-btn-primary">
                        Account Details
                    </a>
                </li>
                <br>
                <li class="nav-item">
                    <a class="nav-link-btn-primary">
                        Account Summary
                    </a>
                </li>
                <br>
                <li class="nav-item">
                    <a class="nav-link-btn-primary">
                        Account Statement
                    </a>
                </li>
                <br>
                <li class="nav-item">
                    <a class="nav-link-btn-primary">
                        Fund Transfer
                    </a>
                </li>
                <br>
                <li class="nav-item">
                    <a class="nav-link-btn-primary">
                        Change Password
                    </a>
                </li>
            </ul>
        </div>

        <div class="col"></div>
    </div>
</div>