.enterheader{
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 30px;
}

.maindiv{  
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input{
    width: 70%;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    padding: 10px;
}

.inputHolder{
    margin-bottom: 15px;
}