<div class="container d-flex h-100">

    <div class="maindiv align-self-center">
        <h3>Forgot Password</h3>

        <div class=enterheader>
            <h3>Enter Details</h3>
        </div>

        <span class="text-danger" *ngIf="error">{{errormessage}}</span>
        <form [formGroup]="ForgotPasswordForm" (ngSubmit)="checkUserForOtp()">
            <div class="inputHolder">
                <input type="text" placeholder="Enter UserID" name="userId" [formControl]="userIdControl" /><br>
                <span *ngIf="!userIdControl.valid && userIdControl.dirty" class="text-danger">UserId required!!</span>
            </div>
            <div *ngIf="checkable" class="inputHolder">
                <input class="btn btn-success" type="submit" value="Check" />
            </div>
        </form>

        <form [formGroup]="OtpCheckForm" (ngSubmit)="checkOtp()">
            <div *ngIf="otpvisible" class="inputHolder">
                <input type="text" placeholder="Enter OTP" name="otp" [formControl]="otpControl" /><br>
                <span *ngIf="otpControl.hasError('required') && otpControl.dirty" class="text-danger">OTP
                    required!!</span>
            </div>

            <div *ngIf="otpvisible" class="inputHolder">
                <input class="btn btn-success" type="submit" value="Proceed" />
            </div>
        </form>
        <button (click)=back()>Back</button>
    </div>
</div>