
<form class="form-horizontal" style="padding-top: 100px; margin-left:30%;" [formGroup]="impsForm">

    <div>
        <label style= "margin-left: 10%; font: outline; font-size: 30px; font-style:bold;  border: 4px solid black;padding-left: 0.5px; padding-left: 10px; padding-right: 10px; padding-bottom: 1px;"><strong>Initiate IMPS Paymet</strong></label> <br><br>
     </div> 

    <div style="margin-top: 5px; margin-bottom: 10px;">
        <label for="fromAcc" class="control-label col-sm-3" >From Account</label>
        <input type="text" name="fromAcc" id="senderAccNumber" size="30" [formControl]="fromAccControl"/> 
    </div>

    <div style="display: inline; margin-top: 10px;"> 
        <label for="toAcc" class="control-label col-sm-3" >To Account</label>
       <!-- <input type="text" id="recieverAccNumber"  size="30" style="margin-right: 5px;" [formControl]="toAccControl"/>-->
       <select id="recieverAccNumber" [formControl]="toAccControl" size="3" >
           <option>Select (If not available add Beneficiary)</option>
           <option *ngFor="let b of beneficiary">{{b.beneficiaryAccNo}}</option>
      </select>
        <span *ngIf="toAccControl.hasError('required') && toAccControl.dirty" class="text-danger">Account number required</span> 
        <input type="button" value=" + Add" style="border: 0.5px solid;" (click)="addNew()"/>
    </div>

    <div style="margin-top: 10px;" >
        <label for="ammount" class="control-label col-sm-3">Amount</label>
        <input type="text" id="ammount" name="amount"  size="30" [formControl]="amountControl"/>
        <span *ngIf="amountControl.hasError('range') && amountControl.dirty" class="text-danger">Amount should be more than 200000</span>
    </div>


    <div style="margin-top: 10px;">
        <label for="transactionDate" class="control-label col-sm-3">Transaction Date</label>
        <input id="transactionDate" name="transDate" size="30" readonly=true [formControl]="dateControl"/>  
        
    </div>

    <div style="margin-top: 10px;">
        <label for="remark" class="control-label col-sm-3">Remark</label>
        <input type="text" id="remark"  size="30" [formControl]="remarkControl" />  
        <span *ngIf="remarkControl.hasError('required') && remarkControl.dirty" class="text-danger">Remark required</span> <br><br>
    </div>

    <div>
        <input style="margin-left: 5px; border: 0.5px solid;" type="button" id="saveIMPS" value="Save"/>
        <input  style="margin-left: 5px; border: 0.5px solid;" type="reset" id="resetIMPS" value="Reset"/>
        <input type="button" id="continueIMPS" value="Continue" style="margin-left: 155px; border: 0.5px solid;" (click)="addTransaction()"/>
    </div>

    <div class="alert alert-danger" *ngIf="balanceCheck">
    <strong>Danger!</strong> Amount entered is greater than the balance
  </div>
</form>