<html>
<head>
	<title>Register Internet Banking</title>
</head>
<body>
<div>
<strong>Register for Internet Banking</strong>
</div><br><br>
<div>
<center>
<table>
<tr>
	<td>Account Number</td>
	<td>-</td>
	<td>
	    <input type="text" name="acc_no" style="width:250px;margin:5px 0px">
	</td>
</tr>
<tr>
	<td>Set Login Password</td>
	<td>-</td>
	<td>
	    <input type="text" name="lpasswd" style="width:250px;margin:5px 0px">
	</td>
</tr>
<tr>
	<td>Confirm Login Password</td>
	<td>-</td>
	<td>
	    <input type="text" name="confirm_lpasswd" style="width:250px;margin:5px 0px">
	</td>
</tr>
<tr>
	<td>Set Transaction Password</td>
	<td>-</td>
	<td>
	    <input type="text" name="tpasswd" style="width:250px;margin:5px 0px">
	</td>
</tr>
<tr>
	<td>Confirm Transaction Password</td>
	<td>-</td>
	<td>
	    <input type="text" name="confirm_tpasswd" style="width:250px;margin:5px 0px">
	</td>
</tr>
<tr>
	<td>Enter OTP</td>
	<td>-</td>
	<td>
	    <input type="text" name="otp" style="width:250px;margin:5px 0px">
	</td>
</tr>
<tr>
	<td colspan=3><br><button type="submit" value="Submit"><strong>Submit</strong></button><br></td>
</tr>
</table>
</center>
<div>
</body>
</html>