<div>
<form class="form-horizontal" style="padding-top: 100px; margin-left:30%;">

    <div>
        <label style= "margin-left: 10%; font: outline; font-size: 30px; font-style:bold;  border: 4px solid black;padding-left: 0.5px; padding-left: 3px; padding-right: 3px; padding-bottom: 1px;"><strong>Add New Beneficiary</strong></label> <br><br>
     </div> 

    <div class="beneficiaryName">
        <label for="beneficiaryName" class="control-label col-sm-3">Beneficiary Name</label>
        <input type="text" id="beneficiaryName" size="30"/> <br><br>
    </div>

    <div class="beneficiaryAccNumber">
        <label for="beneficiaryAccNumber" class="control-label col-sm-3">Beneficiary Account Number</label>
        <input type="text" id="beneficiaryAccNumber"  size="30" /> <br><br>
    </div>

    <div class="rebeneficiaryAccNumber">
        <label for="rebeneficiaryAccNumber" class="control-label col-sm-3">Re-Enter Beneficiary Account Number</label>
        <input type="text" id="rebeneficiaryAccNumber"  size="30"/><br><br>
    </div>

    <div>
        <label style="margin-left: 20px; " class="control-label col-sm-3"><input type="checkbox" value=" "> Save Beneficiary</label><br><br>
    </div>

    <div class="beneficiaryNickName">
        <label for="beneficiaryNickName" class="control-label col-sm-3">Nick Name</label>
        <input type="text" id="beneficiaryNickName"  size="30" />   <br><br>
    </div>

    <div>
        <input style="margin-left: 20%; border: 0.5px solid;" class="col-sm-offset-2" type="button" id="saveBeneficiary" value="Save Beneficiary"/><br><br>
    </div>
</form>
</div>