<form class="form-horizontal" style="padding-top: 50px; margin-left:5%;">

    <div>
        <label style= "margin-left: 10%; font: outline; font-size: 20px; font-style:bold;  border: 2px solid black;padding-left: 0.5px; padding-left: 10px; padding-right: 10px; padding-bottom: 1px;"><strong>Tranfer Successful</strong></label> <br><br>
     </div> 

    <div style="margin-top: 5px; margin-bottom: 10px;">
        <label class="control-label col-sm-3">Reference ID</label>
        <label id="refId">324234324532</label> 
    </div>

    <div style="margin-top: 5px; margin-bottom: 10px;">
        <label class="control-label col-sm-3">Mode</label>
        <label id="mode">RTGS </label> 
    </div>

    <div style="margin-top: 5px; margin-bottom: 10px;">
        <label  class="control-label col-sm-3">Paid to Account</label>
        <label id="accNumber">CITI BANK xxxxxxxx345</label> 
    </div>

    <div style="margin-top: 5px; margin-bottom: 10px;">
        <label for="fromAcc" class="control-label col-sm-3">Amount</label>
        <label id="amount">Rs. 205324</label> 
    </div>

    <div style="margin-top: 5px; margin-bottom: 10px;">
        <label class="control-label col-sm-3">From Account</label>
        <label id="senderAccNumber">xxxxxxxxxx234</label> 
    </div>

    <div style="margin-top: 5px; margin-bottom: 10px;">
        <label class="control-label col-sm-3">On </label>
        <label id="dateTime">25/02/1998   15:03:23</label> 
    </div>

    <div style="margin-top: 5px; margin-bottom: 10px;">
        <label class="control-label col-sm-3">Remarks </label>
        <label id="remark">Loan</label> 
    </div>

    
</form>