<form class="form-horizontal" *ngIf="fetched" style="padding-top: 150px; margin-left:33%;">

    <div>
        <label style= "margin-left: 10%; font: outline; font-size: 20px; font-style:bold;  border: 2px solid black;padding-left: 0.5px; padding-left: 10px; padding-right: 10px; padding-bottom: 1px;"><strong>Transfer Successful</strong></label> <br><br>
     </div> 

    <div style="margin-left: 8%;">
        <div style="margin-top: 5px; margin-bottom: 10px;">
            <label class="control-label col-sm-3">Reference ID:</label>
            <label id="refId">{{transaction.transactionId}}</label> 
        </div>
    
        <div style="margin-top: 5px; margin-bottom: 10px;">
            <label class="control-label col-sm-3">Mode:</label>
            <label id="mode">{{transaction.type}}</label> 
        </div>
    
        <div style="margin-top: 5px; margin-bottom: 10px;">
            <label  class="control-label col-sm-3">Paid to Account:</label>
            <label id="accNumber">{{transaction.toAccount}}</label> 
        </div>
    
        <div style="margin-top: 5px; margin-bottom: 10px;">
            <label  class="control-label col-sm-3">Amount:</label>
            <label id="amount">&#x20B9; {{transaction.amount}}</label> 
        </div>
    
        <div style="margin-top: 5px; margin-bottom: 10px;">
            <label class="control-label col-sm-3">From Account:</label>
            <label id="senderAccNumber">{{transaction.accountNo}}</label> 
        </div>
    
        <div style="margin-top: 5px; margin-bottom: 10px;">
            <label class="control-label col-sm-3">On:</label>
            <label id="dateTime">{{transaction.endDate}}</label> 
        </div>
    
        <div style="margin-top: 5px; margin-bottom: 10px;">
            <label class="control-label col-sm-3">Remarks:</label>
            <label id="remark">{{transaction.reason}}</label> 
        </div>
    </div>

    
</form>