<html>
<head><title>Open Savings Acc</title></head>
<body>
<div>
<strong>Open A Savings Account</strong>
</div>
<div>
<strong>Personal Details</strong>
</div>
<div>
<center>
<table>
<tr>
	<td>Title*</td>
	<td>-</td>
	<td>
		<select name="title" style="width:250px">
			<option value="Ms.">Ms.</option>
			<option value="Mrs.">Mrs.</option>
			<option value="Mr">Mr</option>
		</select>
	</td>
</tr>

<tr>
	<td>First Name*</td>
	<td>-</td>
	<td>
	    <input type="text" name="fname" >
	</td>
</tr>
<tr>
	<td >Middle Name</td>
	<td>-</td>
	<td>
	    <input type="text" name="mname" >
	</td>
</tr>
<tr>
	<td >Last Name*</td>
	<td>-</td>
	<td>
	    <input type="text" name="lname" >
	</td>
</tr>
<tr>
	<td >Mobile Number*</td>
	<td>-</td>
	<td>
	    <input type="text" name="mobileno" >
	</td>
</tr>
<tr>
	<td >Email ID</td>
	<td>-</td>
	<td>
	    <input type="text" name="email" >
	</td>
</tr>
<tr>
	<td >Aadhar Card Number*</td>
	<td>-</td>
	<td>
	    <input type="text" name="aadhar" >
	</td>
</tr>
<tr>
	<td >Date of Birth*</td>
	<td>-</td>
	<td>
	    <input type="text" name="dob" >
	</td>
</tr>
<tr>
	<td ><br>Residential Address</td>
</tr>
<tr>
	<td><br>a)Address Line 1*</td>
	<td>-</td>
	<td>
	    <input type="text" name="add1" >
	</td>
</tr>
<tr>
	<td>b)Address Line 2*</td>
	<td>-</td>
	<td>
	    <input type="text" name="add2" >
	</td>
</tr>
<tr>
	<td>c)Landmark</td>
	<td>-</td>
	<td>
	    <input type="text" name="landmark" >
	</td>
</tr>
<tr>
	<td>d)State*</td>
	<td>-</td>
	<td>
	    <input type="text" name="state" >
	</td>
</tr>
<tr>
	<td>e)City*</td>
	<td>-</td>
	<td>
	    <input type="text" name="city" >
	</td>
</tr>
<tr>
	<td>f)Pincode*</td>
	<td>-</td>
	<td>
	    <input type="text" name="pincode" >
	</td>
</tr>
<tr>
	<td ><br>Permanent Address</td>
</tr>
<tr>
	<td colspan="3"><br><input type="checkbox" name="address">Permanent Address same as Mailing Address</td>
</tr>
<tr>
	<td><br>a)Address Line 1*</td>
	<td>-</td>
	<td>
	    <input type="text" name="add1" >
	</td>
</tr>
<tr>
	<td>b)Address Line 2*</td>
	<td>-</td>
	<td>
	    <input type="text" name="add2" >
	</td>
</tr>
<tr>
	<td>c)Landmark</td>
	<td>-</td>
	<td>
	    <input type="text" name="landmark" >
	</td>
</tr>
<tr>
	<td>d)State*</td>
	<td>-</td>
	<td>
	    <input type="text" name="state" >
	</td>
</tr>
<tr>
	<td>e)City*</td>
	<td>-</td>
	<td>
	    <input type="text" name="city" >
	</td>
</tr>
<tr>
	<td>f)Pincode*</td>
	<td>-</td>
	<td>
	    <input type="text" name="pincode" >
	</td>
</tr>
<tr>
	<td ><br>Occupatin Details</td>
</tr>
<tr>
	<td><br>a)Occupation Type*</td>
	<td>-</td>
	<td>
	    <select name="occ_type" style="width:200px">
			<option value="Salaried">Salaried</option>
			<option value="Business">Business</option>
			<option value="Self-Employed">Self-Employed</option>
			<option value="Retired">Retired</option>
			<option value="Housewife">Housewife</option>
			<option value="Others">Others</option>
		</select>
	</td>
</tr>
<tr>
	<td>b)Source of Income*</td>
	<td>-</td>
	<td>
		<input type="text" name="src_income" >    
	</td>
</tr>
<tr>
	<td>c)Gross Annual Income*</td>
	<td>-</td>
	<td>
		<input type="text" name="ann_income" >    
	</td>
</tr>
<tr>
	<td ><br>Debit/ATM Card</td>
</tr>
<tr>
	<td colspan="3"><br><input type="checkbox" name="card">Do you want a debit card ?</td>
</tr>
<tr>
	<td ><br><input type="checkbox" name="netbanking">Opt for Net Banking</td>
</tr>
<tr>
	<td ><br><input type="checkbox" name="netbanking">I agree</td>
</tr>
<tr>
	<td colspan=3><br><button type="submit" value="Submit"><strong>Submit</strong></button><br></td>
</tr>
</table>
</center>
<div>
</body>
</html>