<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" style="color: white; font-weight: 700;" href="#">Bank Name</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active">
          <a class="nav-link" style="color: white; font-weight: 700;" href="#">Register For Internet Banking <span class="sr-only">(current)</span></a>
        </li>

      </ul>
    </div>
</nav>
<div class="personaldet">
	<h3 style="text-align: center; padding: 10px; color: white; font-weight: 700;">Personal Details</h3>
</div>
<div *ngIf="datafetched">
	<div>
	<form [formGroup]="registerForm" (ngSubmit)="register()">
	<div class="row">
		<div class="col-6" style="padding:0px 0px 0px 400px">
			<label>Title<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-6">
			<select name="title" (change)="setTitle($event)">
				<option value="Ms.">Ms.</option>
				<option value="Mrs.">Mrs.</option>
				<option value="Mr.">Mr.</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-6" style="padding:0px 0px 0px 400px">
			<label>First Name<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-6">
			<input type="text" placeholder="Enter First name" name="firstname" [formControl]="firstname" required/><br>
			<span *ngIf="!firstname.valid && firstname.dirty" class="text-danger">Invalid Firstname!!</span>
		</div>
	</div><div class="row">
		<div class="col-6" style="padding:0px 0px 0px 400px">
			<label>Middle Name<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-6">
			<input type="text" placeholder="Enter Middle name" name="middlename" [formControl]="middlename"/><br>	
			<span *ngIf="!middlename.valid && middlename.dirty" class="text-danger">Invalid Middlename!!</span>
		</div>
	</div>
	<div class="row">
		<div class="col-6" style="padding:0px 0px 0px 400px">
			<label>Last Name<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-6">
			<input type="text" placeholder="Enter Last name" name="lastname" [formControl]="lastname"/><br>	
			<span *ngIf="!lastname.valid && lastname.dirty" class="text-danger">Invalid Lastname!!</span>
		</div>
	</div>
	<div class="row">
		<div class="col-6" style="padding:0px 0px 0px 400px">
			<label>Father's Name</label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-6">
			<input type="text" placeholder="Enter Father's name" name="fathername" [formControl]="fathername"/><br>	
		</div>
	</div>
	<div class="row">
		<div class="col-6" style="padding:0px 0px 0px 400px">
			<label>Mobile No.<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-6">
			<input type="text" placeholder="Enter Mobile No." name="mobileno" [formControl]="mobileno"/><br>	
			<span *ngIf="mobileno.errors.required && mobileno.dirty" class="text-danger">Valid Mobile No. required!!</span>
			<span *ngIf="mobileno.errors.minLength || mobileno.errors.maxlength || mobileno.errors.pattern" class="text-danger">Mobile No. must be of 10 digits!!</span>
			
		</div>
	</div>
	<div class="row">
		<div class="col-6" style="padding:0px 0px 0px 400px">
			<label>Email ID<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-6">
			<input type="text" placeholder="Enter Email Id" name="email" [formControl]="emailId"/><br>	
			<span *ngIf="!emailId.valid && emailId.dirty" class="text-danger">Invalid Email ID!!</span>
		</div>
	</div>
	<div class="row">
		<div class="col-6" style="padding:0px 0px 0px 400px">
			<label>Aadhar No.<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-6">
			<input type="text" placeholder="Enter Aadhar No." name="aadhar" [formControl]="aadharno"/><br>	
			<span *ngIf="!aadharno.valid && aadharno.dirty" class="text-danger">Invalid Aadhar No.!!</span>
		</div>
	</div>
	<div class="row">
		<div class="col-6" style="padding:0px 0px 0px 400px">
			<label>Date of Birth<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-6">
			<input type="date" name="dob" [formControl]="dob"/><br>	
			<!--<span *ngIf="!dob.valid && dob.dirty" class="text-danger">Date of Birth required!!</span>-->
		</div>
	</div>
	<hr>
	<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
		<div class="col-6" style="padding:0px 0px 0px 400px">
			<label>Residential Address:</label>&nbsp;&nbsp;&nbsp;
		</div>		
	</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-5" style="padding:0px 0px 0px 400px">
			<label>Line 1<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-5">
			<input type="text" placeholder="Line1" name="Rline1" [formControl]="Rline1Control"/><br>	
			<span *ngIf="!Rline1Control.valid && Rline1Control.dirty" class="text-danger">Line1 required!!</span>
		</div>
	</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-5" style="padding:0px 0px 0px 400px">
			<label>Line 2<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-5">
			<input type="text" placeholder="Line2" name="Rline2" [formControl]="Rline2"/><br>	
			<span *ngIf="!Rline2.valid && Rline2.dirty" class="text-danger">Line2 required!!</span>
		</div>
	</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-5" style="padding:0px 0px 0px 400px">
			<label>LandMark</label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-5">
			<input type="text" placeholder="LandMark" [formControl] = "rLandmark" name="Rlandmark"/><br>	
		</div>
	</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-5" style="padding:0px 0px 0px 400px">
			<label>State<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-5">
			<select name="Rstate" (change)="selectChangeHandler($event)">
				<option value="select">--Select--</option>
				<option *ngFor="let s of restStateTemplate.stateList" [ngValue]="s.stateId" value="{{s.stateId}}">{{s.stateName}}</option>
			</select>	
		</div>
	</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-5" style="padding:0px 0px 0px 400px">
			<label>City<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-5">
			<select name="Rcity" [disabled]="butDisabled">
				<option>--Select--	</option>
				<option *ngFor="let c of restCityTemplate.cityList" [ngValue]="c.cityId" value="{{c.cityId}}">{{c.cityName}}</option>
			</select>	
		</div>
	</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-5" style="padding:0px 0px 0px 400px">
			<label>Pincode<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-5">
			<input type="text" placeholder="Pincode" name="RPincode" [formControl]="Rpincode"/><br>	
			<span *ngIf="!Rpincode.valid && Rpincode.dirty" class="text-danger">Valid Pincode required!!</span>
		</div>
	</div>
	<div class="row">
		<div class="col d-inline" style="text-align: center;">
			<input type="checkbox" class="d-inline" name="sameadd" [checked]="false" (change)="isPerma()"/>
			<label class="d-inline">Permanent Address same as Residential Address</label>&nbsp;&nbsp;&nbsp;
		</div>		
	</div>
	<hr>
	<div  *ngIf="!isPermanent" class="row">
		<div class="col-6" style="padding:0px 0px 0px 400px">
			<label>Permanent Address</label>&nbsp;&nbsp;&nbsp;
		</div>		
	</div>
	
	<div *ngIf="!isPermanent" class="row">
		<div class="col-1"></div>
		<div class="col-5" style="padding:0px 0px 0px 400px">
			<label>Line1*</label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-5">
			<input type="text" placeholder="Line1" name="Pline1" [formControl]="Pline1"/><br>	
			<span *ngIf="!Pline1.valid && Pline1.dirty" class="text-danger">Line1 required!!</span>
		</div>
	</div>
	<div *ngIf="!isPermanent" class="row">
		<div class="col-1"></div>
		<div class="col-5" style="padding:0px 0px 0px 400px">
			<label>Line 2<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-5">
			<input type="text" placeholder="Line2" name="Pline2" [formControl]="Pline2"/><br>	
			<span *ngIf="!Pline2.valid && Pline2.dirty" class="text-danger">Line2 required!!</span>
		</div>
	</div>
	<div *ngIf="!isPermanent" class="row">
		<div class="col-1"></div>
		<div class="col-5" style="padding:0px 0px 0px 400px">
			<label>LandMark</label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-5">
			<input type="text" placeholder="LandMark" [formControl] = "pLandmark" name="Plandmark"/><br>	
		</div>
	</div>
	<div *ngIf="!isPermanent" class="row">
		<div class="col-1"></div>
		<div class="col-5" style="padding:0px 0px 0px 400px">
			<label>State<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-5">
			<select name="Pstate" (change)="selectChangeHandlerSecond($event)">
				<option>--Select--	</option>
				<option *ngFor="let s of restStateTemplateSecond.stateList"  [ngValue]="s.stateId" value="{{s.stateId}}">{{s.stateName}}</option>
			</select>	
		</div>
	</div>
	<div *ngIf="!isPermanent" class="row">
		<div class="col-1"></div>
		<div class="col-5" style="padding:0px 0px 0px 400px">
			<label>City<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-5">
			<select name="Pcity"  [disabled]="butDisabledTwo">
				<option>--Select--	</option>
				<option *ngFor="let city of restCityTemplateSecond.cityList" [ngValue]="city.cityId" value="{{city.cityId}}">{{city.cityName}}</option>
			</select>	
		</div>
	</div>
	<div  *ngIf="!isPermanent" class="row">
		<div class="col-1"></div>
		<div class="col-5" style="padding:0px 0px 0px 400px">
			<label>Pincode<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-5">
			<input type="text" placeholder="Pincode" name="PPincode" [formControl]="Ppincode"/><br>	
			<span *ngIf="!Ppincode.valid && Ppincode.dirty" class="text-danger">Valid Pincode required!!</span>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-6" style="padding:0px 0px 0px 400px">
			<label>Occupation Details</label>&nbsp;&nbsp;&nbsp;
		</div>		
	</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-5" style="padding:0px 0px 0px 400px">
			<label>a) Occupation Type<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-5">
			<select name="occ_type" [formControl]="occtype">
				<option value="Salaried">Salaried</option>
				<option value="Business">Business</option>
				<option value="Self-Employed">Self-Employed</option>
				<option value="Retired">Retired</option>
				<option value="Housewife">Housewife</option>
				<option value="Others">Others</option>
			</select>	
		</div>
	</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-5" style="padding:0px 0px 0px 400px">
			<label>b) Source of Income<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-5">
			<select name="src_income" [formControl]="srcincome">
				<option value="Salary">Salary</option>
						<option value="House Property">House Property</option>
						<option value="Business">Business</option>
						<option value="Other sources">Other sources</option>
			</select>	
		</div>
	</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-5" style="padding:0px 0px 0px 400px">
			<label>c) Gross Annual Income<span class="required">*</span></label>&nbsp;&nbsp;&nbsp;
		</div>		
		<div class="col-5">
			<select name="annualIncome" [formControl]="annualIncome">
				<option value="less50K">Less than 50K</option>
						<option value="less1L">Less than 1L</option>
						<option value="more1L">More than 1L</option>
			</select>	
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-6" style="padding:0px 0px 0px 300px">
			<input type="checkbox" name="debitEnabled" [formControl]="debitEnabled"/>
			<label>Do you want a debit card?</label>&nbsp;&nbsp;&nbsp;
		</div>		
	</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-6" style="padding:0px 0px 0px 300px">
			<input type="checkbox" name="netBankingEnabled" [formControl]="netBankingEnabled"/>
			<label>Opt for netbanking</label>&nbsp;&nbsp;&nbsp;
		</div>		
	</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-6" style="padding:0px 0px 0px 300px">
			<input type="checkbox" name="agree" [formControl]="agree"/>
			<label>I agree...</label>&nbsp;&nbsp;&nbsp;
		</div>		
	</div>
	<div>
		<div class="row d-flex justify-content-center">
			<div class="col d-flex justify-content-center">
				<input class="btn btn-success" type="submit" value="Submit">
			</div>		
		</div>
	</div>
	</form>
</div>