@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
html{
    height: 100%;
    overflow: auto;
}

body{
    background-color: #FFF;
    overflow: auto;
    height: 100%;
}

*{
    font-family: 'Quicksand', sans-serif;  
}
